*{margin:0;padding:0;box-sizing:border-box;}
html, body {
	margin: 0;
	padding: 0;
	width:100%;
	height:100%;
	background-color: #434343;
	font-family: Arial, Verdana, sans-serif;
}

body {
	height:100%;
}

::-webkit-input-placeholder {font-size:20px;text-align:center;}
::-moz-placeholder {font-size:20px;text-align:center;}
:-ms-input-placeholder {font-size:20px;text-align:center;}
input:-moz-placeholder {font-size:20px;text-align:center;}

#main-container {
	width:100%;
	height: 100%;
}

#container-right {
	width: 100%;
	height: 100%;
	float: right;
	max-width: 40em;
	overflow: hidden;
	background-color: #F5F5F5;
}

#menu-container {
	height: 5%;
	background-color: #2196F3;
	box-shadow: 0 1px 1px 1px rgba(55,55,55,.3);
}

#messages {
	height: 87.5%;
	overflow-y: auto;
}

#input-message {
	width: 80%;
	height: 100%;
	resize: none;
	border: none;
	outline: none;
	overflow: hidden;
	padding: 5px 10px;
	display: inline-block;
}

#send-message-button {
	border:0;
	width: 20%;
	clear: both;
	color: white;
	height: 100%;
	float: right;
	cursor: pointer;
	font-size:24px;
	background-color: #2196F3;
}

#send-message-button:active {
	background-color: #1976D2;
}

#input-container {
	height: 7.5%;
	display: block;
	background-color: #434343;
	box-shadow: 0 -1px 1px 1px rgba(55,55,55,.3);
}

.message {
	color: #18181a;
	display: block;
	padding: 5px;
}