extends layout

block content
	div#container-right
		div#menu-container
		div#messages
		div#input-container
			textarea(maxlength="500", autocomplete="off", placeholder="Type your message here")#input-message
			button#send-message-button Send