doctype html
html
	head
		meta(charset="utf-8")
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/foundation-icons.css')
	body
		div#main-container
			block content
		script(src="http://code.jquery.com/jquery-1.11.1.js")
		script(src="/javascripts/socket.io.js")
		script(src="/javascripts/sca.js")